<div class="container">
    <div class="row">
        <div class="col-3">
            <app-nav-bar></app-nav-bar>
        </div>
   
        <div class="col-9">
            <input type="text" #description placeholder="Description de l'activité">
            <button *ngIf="!activiteEnCours" (click)="startCapture(description.value)">Démarrer l'activité</button>
            <button *ngIf="activiteEnCours" (click)="stopCapture()">Terminer l'activité</button>
            <div *ngIf="activiteEnCours"> Activite en cours... </div>
            <div> Temps écoulé: {{ hours }} heures, {{ minutes }} minutes, {{ seconds }} secondes </div>
            <button (click)="logActivityInfo()">Afficher les infos de l'activité</button>
            <button (click)="logAllActivitiesInfo()">Afficher toutes les infos des activités</button>
            <div> {{ activiteEnCours }}</div>
        </div>
    </div>
</div>