<nav>
  <div *ngIf="sessionActive()">Utilisateur: {{ username }}</div>
  <div *ngIf="sessionActive()"><a routerLink="/capture">Capture</a></div>
  <div *ngIf="sessionActive()"><a routerLink="/rapport">Rapport</a></div>
  <div *ngIf="sessionActive()"><a routerLink="/comment">Commentaire</a></div>
  <div *ngIf="sessionActive()"><button (click)="logout()">Déconnecter</button></div>
  <div *ngIf="sessionActive()"><button (click)="validateToken()">Valider Token</button></div>
  <div *ngIf="!sessionActive()"><button (click)="login()">Se connecter</button></div>
</nav>
