<div class="row">
  <div class="col mx-auto border border-primary border-3 rounded-5 p-4 mt-5">
    <label for="username">Username</label>
    <input type="text" [(ngModel)]="username" class="form-control" id="username">
    <label for="password">Password</label>
    <input type="password" [(ngModel)]="password" class="form-control" id="password">
    <label for="email">Email</label>
    <input type="email" [(ngModel)]="email" class="form-control" id="email">

    <div class="row">
      <button class="btn btn-outline-primary mt-3" (click)="register()">Register</button>
    </div>

    <div *ngIf="error" class="alert alert-danger mt-3">{{ error }}</div>
    <div *ngIf="message" class="alert alert-success mt-3">{{ message }}</div>
  </div>
</div>
